{% if site.footer-links.dribble %}<a class="social-icons" href="https://dribble.com/{{ site.footer-links.dribble }}"><i class="fas fa-dribble"></i></a> {% endif %}
{% if site.footer-links.twitter %}<a class="social-icons" href="https://twitter.com/{{ site.footer-links.twitter }}"><i class="fas fa-twitter"></i></a> {% endif %}
{% if site.footer-links.instagram %}<a class="social-icons" href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="fas fa-instagram"></i></a> {% endif %}
{% if site.footer-links.github %}<a class="social-icons" href="https://github.com/{{ site.footer-links.github }}"><i class="fas fa-github"></i></a> {% endif %}
