.fa-envelope {color:#333;}
.fa-envelope:hover {color:#4183C4;}
.fa-github {color:#333}
.fa-github:hover {color:#6e5494;}
.fa-instagram {color:#333}
.fa-instagram:hover {color:#cd486b;}
.fa-twitter {color:#333}
.fa-twitter:hover {color:#1DA1F2;}
