.fa-envelope:hover {color:#4183C4;}
.fa-github:hover,.social-icons .fa-github-alt:hover,.social-icons .fa-github-square:hover{color:#070709;}
.fa-instagram:hover{color:#A1755C;}
.fa-twitter:hover,.social-icons .fa-twitter-square:hover{color:#1DA1F2;}
