.social-icons {color:#333;}
.social-icons {color:#333;}
.social-icons:hover {color:#333;}
.social-icons .fa-rss:hover,.social-icons .fa-envelope:hover {color:#4183C4;}
.social-icons .fa-adn:hover{color:#504e54;}
.social-icons .fa-apple:hover{color:#aeb5c5;}
.social-icons .fa-android:hover{color:#A5C63B;}
.social-icons .fa-bitbucket:hover,.social-icons .fa-bitbucket-square:hover{color:#003366;}
.social-icons .fa-bitcoin:hover,.social-icons .fa-btc:hover{color:#F7931A;}
.social-icons .fa-css3:hover{color:#1572B7;}
.social-icons .fa-dribbble:hover{color:#F46899;}
.social-icons .fa-dropbox:hover{color:#018BD3;}
.social-icons .fa-facebook:hover,.social-icons .fa-facebook-square:hover{color:#3C599F;}
.social-icons .fa-flickr:hover{color:#FF0084;}
.social-icons .fa-foursquare:hover{color:#0086BE;}
.social-icons .fa-github:hover,.social-icons .fa-github-alt:hover,.social-icons .fa-github-square:hover{color:#070709;}
.social-icons .fa-google-plus:hover,.social-icons .fa-google-plus-square:hover{color:#CF3D2E;}
.social-icons .fa-html5:hover{color:#E54D26;}
.social-icons .fa-instagram:hover{color:#A1755C;}
.social-icons .fa-linkedin:hover,.social-icons .fa-linkedin-square:hover{color:#0085AE;}
.social-icons .fa-linux:hover{color:#FBC002;color:#333;}
.social-icons .fa-maxcdn:hover{color:#F6AE1C;}
.social-icons .fa-pagelines:hover{color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest:hover,.social-icons .fa-pinterest-square:hover{color:#CC2127;}
.social-icons .fa-renren:hover{color:#025DAC;}
.social-icons .fa-skype:hover{color:#01AEF2;}
.social-icons .fa-stack-exchange:hover{color:#245590;}
.social-icons .fa-stack-overflow:hover{color:#FF7300;}
.social-icons .fa-trello:hover{color:#265A7F;}
.social-icons .fa-tumblr:hover,.social-icons .fa-tumblr-square:hover{color:#314E6C;}
.social-icons .fa-twitter:hover,.social-icons .fa-twitter-square:hover{color:#1DA1F2;}
.social-icons .fa-vimeo-square:hover{color:#229ACC;}
.social-icons .fa-vk:hover{color:#375474;}
.social-icons .fa-weibo:hover{color:#D72B2B;}
.social-icons .fa-windows:hover{color:#12B6F3;}
.social-icons .fa-xing:hover,.social-icons .fa-xing-square:hover{color:#00555C;}
.social-icons .fa-youtube:hover,.social-icons .fa-youtube-play:hover,.social-icons .fa-youtube-square:hover{color:#C52F30;}
